<html>
<head>
    <style>
        .head {
            background-color: lightblue;
            color: white;
        }

        .link {
            text-decoration: none;
            color: #2C66E1;
            padding: 5px;
            border: 3px solid lightblue;
            width: fit-content;
        }

        a {
            text-decoration: none;
            color: #2C66E1;
        }
    </style>
</head>
<body>
    <div class="head">
        <h1>Hello {{ recipient }}!</h1>
    </div>
    <br>
    <h2>You've been invited to view a Stock Dashboard at the following link:</h2>
    <p class="link">{{ link }}</p>
</body>
</html>
